@{
    ViewData["Title"] = "图片列表";
    Layout = "~/Views/Shared/Community.cshtml";
}
@model HuxingModel.PageReturnModel<HuxingModel.Community.PhotoModel>

<link rel="stylesheet" type="text/css" href="~/css/Photo/css/default.css">
<link rel="stylesheet" type="text/css" href="~/css/Photo/css/GetPhoto.css">


<script src="~/css/Photo/js/Photo.js" type="text/javascript"></script>
<script src="~/layer/layer.js" charset="utf-8"></script>

<link rel="stylesheet" href="~/iconfont/iconfont.css">
<link rel="stylesheet" href="~/iconfont2/iconfont2/iconfont.css">

<div style="background-color:rgb(246,246,246)">
    <div style="width: 800px;height: 40px;background-color: rgb(52,54,58);color:white;line-height: 40px;margin-left: 20px;margin-top: 100px;">
        <span style="margin-left: 10px;font-size:  15px;">图片列表</span>
        <span style="float: right;margin-right: 5px;">
            <a href="javascript:location.replace(location.href);"><i class="iconfont">&#xe607</i></a>
        </span>
    </div>
    <div class="search-box2">
        <form action="GetPhoto" method="post">
            <input type="text" id="seachphoto" class="search2" name="Like" placeholder="搜索图片">
            <input class="search-btn2" type="submit">搜索
        </form>
        <span onclick="Add()" class="add-btn">上传图片</span>
    </div>
    <div id="gallery-wrapper">
        @foreach (var item in Model.DateList)
        {

            <div class="white-panel">
                <img src="@item.Url" class="thumb">
                <h1 style="font-size: 14px;color: black;">@item.Name</h1>
                <p style="font-size: 12px;color: black;">@item.Detail</p>
            </div>

        }
    </div>
    <script>

        function Add() {
            layer.open({
                type: 2,
                title: '添加图片',
                shadeClose: true,
                shade: 0.3,
                offset: "20%",
                shadeClose: false,
                area: ['500px', '500px'],
                content: 'AddPhotoUrl'
            });
        }


        $(document).ready(function () {
            $.each($('.daohan li'), function (i, val) {

                $(val).click(function () {
                    $('.daohan li').eq(i).addClass('tab').siblings().removeClass('tab');
                    $('.showcon div').eq(i).addClass('content').siblings().removeClass('content');
                });
            });
        });
    </script>
</div>